################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ParallelThinning/x64/Debug
/.vs/pcl_registration/v16
/.vs/pcl_registration/v15/ipch/AutoPCH
/pcl_registration/x64/Debug
/x64/Debug
/.vs/pcl_registration/v15
