################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ParallelThinning/x64/Debug
/.vs/pcl_registration/v16
/.vs/pcl_registration/v15/ipch/AutoPCH
/pcl_registration/x64/Debug
/x64/Debug
/.vs/pcl_registration/v15
/.vs/Graduation_Project/v16
/Calibrate/x64
*.props
/CameraCablib/x64/Debug
/Harris-Shi-TomasiDetector/x64/Debug
/pcl_registration/x64/Release
/x64/Release
/ParallelThinning/x64/Release
/StructuredLineCalibration/x64
/CameraCablib/x64/Release/CameraCalib.tlog
/CameraCablib/x64/Release
/Harris-Shi-TomasiDetector/x64/Release/Harris-S.aa0a0b71.tlog
/Harris-Shi-TomasiDetector/x64/Release
